body,  html {
    background: url("../images/bckgnd.png");
    height: 100%;
}

.container {
    max-width: 960px;
}

.main {
    min-height: calc(100vh);
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h5 {
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

.hdr {
    border-bottom: solid 1.5px  #dddddd;
}

.ht {
    background-color: #4aaaa5;
    color: #ffffff;
}

#tk {
    text-align: center;
}

.mt {
    color: #4aaaa5;
    border-bottom: solid 3px #dddddd;
}

.wrapper {
    min-height: 98vh;
    margin-bottom: -80px; 
}
 
.wtlink {
     color: #ffffff;
     text-decoration: none;
} 

.ftr, .push {
    height: 80px;
}

.ftr {
    color: #ffffff;
    background-color: #777777;
   border-top: solid 3px #4aaaa5;

}

#imgMain {
    float: left;
    margin: 0 20px 10px 0;
}

 .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    margin-right: 40px;
  }
  

  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;

  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
